version: '3.8'

services:
  riak:
    image: basho/riak-kv
    container_name: riak_node
    ports:
      - "8087:8087"
      - "8098:8098"
    volumes:
      - riak_data_vol:/var/lib/riak
      # ✅ CORRECTO: Montamos user.conf.
      # Riak leerá esto Y SU propia configuración base.
      - ./config/user.conf:/etc/riak/user.conf
    healthcheck:
      test: ["CMD", "riak-admin", "test"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  riak_data_vol: